<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290828295877-3phj25m3impmj25mgm9tg2enuj55al3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290828295877-3phj25m3impmj25mgm9tg2enuj55al3s</string>
	<key>API_KEY</key>
	<string>AIzaSyC4FO9H1sYQiJRTib3y0oPb2Nc2NBWg7o8</string>
	<key>GCM_SENDER_ID</key>
	<string>290828295877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deepreboot.app</string>
	<key>PROJECT_ID</key>
	<string>deepreboot</string>
	<key>STORAGE_BUCKET</key>
	<string>deepreboot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290828295877:ios:7b2a5a57dff5c03ddf9aac</string>
	<key>DATABASE_URL</key>
	<string>https://deepreboot.firebaseio.com</string>
</dict>
</plist>